*{
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
body {
  font-family: 'Roboto', sans-serif;
}
.container{
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 485px;
    margin-top: 70px;
}
.slider{
    display: flex;
    align-content: space-between;
    width: 2700px;
    background: red;
    transition: .5s;
}
.slider-item{
    width: 280px;
    margin: 0 20px;
    box-sizing: border-box;
}
.slider-item img {
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
	box-shadow: 0 0 36px rgba(0, 0, 0, 0.699);
	border-top: none;
}
.slider-info h2 {
    font-size: 26px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-style: italic;
}
.slider-info p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 800;
    font-style: italic;
}
#slider-button {
	position: absolute;
	bottom: 10px;
    text-align: center;
    left: 20%;
}
.btn {
	width: 15px;
	height: 15px;
	display: inline-block;
	background: blue;
	border: 3px solid #fff;
	box-shadow: 0 0 3px black;
	border-radius: 50%;
    cursor: pointer;
}
#slider-button button:active{
    background: red;
}